<div class="row">
   <div class="col-md-12">
      <h3>
          Movies Rents List
      </h3>
   </div>
    <div class="col-md-12">
        <div class="col-md-6">
            <input type="text" class="form-control" placeholder="Search Movies by Name" #txtSearchValue>
        </div>
        <div class="col-md-6">
            <div class="form-group form-group-sm pull-right">
                <button class="btn btn-md btn-primary" type="button" (click)="createNewMovieRent()">Create Movie Rent</button>
            </div>
        </div>
        <div class="col-md-12" style="margin-top:-20px;">
          <hr>
        </div>
    </div>
    <div class="col-md-12">
        <ngx-datatable
        class="dark"
        [rows]="filteredMovieRents"
        [loadingIndicator]="true"
        [columnMode]="'force'"
        [headerHeight]="40"
        [footerHeight]="40"
        [limit]="20"
        [rowHeight]="'auto'"
        [reorderable]="true">

        <ngx-datatable-column *ngFor="let colName of columns" [prop]="colName?.prop"></ngx-datatable-column>
        <ngx-datatable-column [width]="100" [sortable]="false">
            <ng-template ngx-datatable-cell-template let-row="row" >
              <button class="btn-md btn-primary btn" (click)="onReturnMovie(row)" *ngIf="row?.status === 'A' || row?.status === 'D'">
                <i class="fas fa-check"></i>
              </button>
            </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>

  <app-movie-rent-modal (onSaveMovieRent)="onSaveRent($event)"
  [categories]="categories"
  [movies]="movies"
  [modalId]="rentMovieModalId"></app-movie-rent-modal>

